<div class="container">
    <div  style="width:100%; margin: 0 auto; text-align: center;">

        <div style="margin-top:80px;color:white;"><h1>Welcome to Develop Me</h1></div>
        <div style="margin-top:30px;color:white;padding-left:180px;padding-right:180px;"><p>Through observation and coaching we will nurture, grow and develop our colleagues to become a 'Go-To' workforce.</p></div>
        <div style="margin-top:8px;color:white;padding-left:180px;padding-right:180px;"><p>We understand that the skills needed to succeed tomorrow will be different from today and we genuinely care about the future growth of those we work with.</p></div>
        <div style="margin-top:30px;"><p><a class="btn btn-primary btn-lg" href="{{baseURL}}selectObservee" role="button">Start development</a></p></div>
    </div>

</div>




