
<!--Sub Header section Start -->
<div class="container-full">

    <div class="container">
        <div class="row">
            <article role="banner" class="row obsrv-banner-search">
                <div class="col-xs-6" style="padding:1em">
                    <div class="txt-darkblue-mid">New Observation</div>
                </div>
                <div class="col-xs-6">
                    <div class="srch-box-cntr clearfix">
                        <input aria-labelledby="Search observation by observer or date" type="text" id="searchObservation"
                               class="form-control typeahead"
                               placeholder="Search observation by observer or date"/>

                        <div class="search-icon">
                            <img src="../img/Barclays_Find_Icon_RGB.png" id="searchButton">
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div> <!-- /container full -->











<!--Collapsible Code here   -->

<script>
    $( ".collapsible-panel, .contributors" ).accordion({
        activate: function( event, ui ) {}
    });
</script>
<script>$(document).ready(function($) {

    $( ".collapsible-panel, .contributors" ).on( "accordionactivate", function( event, ui ) {
        event.preventDefault();
        $('html,body').animate({scrollTop:$(".ui-accordion-content").offset().top}, 500);
    });
});
</script>
<!--<script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>-->
<script>
    $(function() {
        $( ".collapsible-panel" ).accordion({
            collapsible: true,
            heightStyle: "content",
            active:false,
            speed: 50
        });


    });




</script>

<!--Collapsible Code END here   -->
















<div class="container">
    <div class="content">







        <div class="structure-container">


            <div class="table-layout">

                <div class="table-cell fixed-width-400">

           <!--NEW Collapsible Code here   -->
                    <div class="collapsible-panel">



                        <h3 class="accord-header">Custome or Client <span class="Custaccordion-header-icon" aria-selected="true" aria-expanded="true" role="tab" tabindex="0"><img src="img/right-arrow.png" height="20"></span></h3>
                        <div style="display: none"></div>






                        <h3 class="accord-header">Custome or Client <span class="Custaccordion-header-icon" aria-selected="true" aria-expanded="true" role="tab" tabindex="0"><img src="img/right-arrow.png" height="20"></span></h3>
                        <div>
                            <div class="text_center full left padding">

                                <section class="Wrapper-datalist" aria-labelledby="Support" >
                                    <div class="accordion-Subcontent-header bg-blu">Support</div>

                                    <div class="accordion-content-body">

                                        <ul class="accordion-list">
                                            <li>Bullet 1</li>
                                            <li>Bullet 2</li>
                                            <li>Bullet 3</li>
                                        </ul>
                                    </div>

                                </section>

                                <section class="Wrapper-datalist" aria-labelledby="">
                                    <div class="accordion-Subcontent-header bg-trans" style="border: 1px solid #0074A7;">Developing</div>
                                    <div class="accordion-content-body">

                                        <ul class="accordion-list">
                                            <li>Bullet 1</li>
                                            <li>Bullet 2</li>
                                            <li>Bullet 3</li>
                                        </ul>
                                    </div>
                                </section>


                                <section class="Wrapper-datalist" aria-labelledby="">
                                    <div class="accordion-Subcontent-header bg-orn">Good</div>
                                    <div class="accordion-content-body">

                                        <ul class="accordion-list">
                                            <li>Bullet 1</li>
                                            <li>Bullet 2</li>
                                            <li>Bullet 3</li>
                                        </ul>
                                    </div>
                                </section>

                                <section class="Wrapper-datalist" aria-labelledby="">
                                    <div class="accordion-Subcontent-header bg-maroon">Great</div>
                                    <div class="accordion-content-body">

                                        <ul class="accordion-list">
                                            <li>Bullet 1</li>
                                            <li>Bullet 2</li>
                                            <li>Bullet 3</li>
                                        </ul>
                                    </div>
                                </section>

                                <section class="Wrapper-datalist" aria-labelledby="">
                                    <div class="accordion-Subcontent-header bg-grn">Go to</div>
                                    <div class="accordion-content-body">

                                        <ul class="accordion-list">
                                            <li>Bullet 1</li>
                                            <li>Bullet 2</li>
                                            <li>Bullet 3</li>
                                        </ul>
                                    </div>
                                </section>


                            </div>
                        </div>



                        <h3 class="accord-header" aria-selected="false" aria-controls="panel2" aria-expanded="false" role="tab" tabindex="-1">Colleague <span class="Custaccordion-header-icon"><img src="img/right-arrow.png" height="20"></span></h3>
                        <div>
                            <div class="text_center full left padding">

                                <div class="accordion-content-header">Support</div>

                                <div class="accordion-content-body">

                                    <ul class="accordion-list">
                                        <li>Bullet 1</li>
                                        <li>Bullet 2</li>
                                        <li>Bullet 3</li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <h3 class="accord-header" aria-selected="false" aria-controls="panel3" aria-expanded="false" role="tab" tabindex="-1">Citizenship <span class="Custaccordion-header-icon"><img src="img/right-arrow.png" height="20"></span></h3>
                        <div>
                            <div class="text_center full left padding">

                                <div class="accordion-content-header">Support</div>

                                <div class="accordion-content-body">

                                    <ul class="accordion-list">
                                        <li>Bullet 1</li>
                                        <li>Bullet 2</li>
                                        <li>Bullet 3</li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <h3 class="accord-header" aria-selected="false" aria-controls="panel4" aria-expanded="false" role="tab" tabindex="-1"> Conduct<span class="Custaccordion-header-icon"><img src="img/right-arrow.png" height="20"></span></h3>
                        <div>
                            <div class="text_center full left padding">

                                <div class="accordion-content-header">Support</div>

                                <div class="accordion-content-body">

                                    <ul class="accordion-list">
                                        <li>Bullet 1</li>
                                        <li>Bullet 2</li>
                                        <li>Bullet 3</li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <h3 class="accord-header" aria-selected="false" aria-controls="panel5" aria-expanded="false" role="tab" tabindex="-1"> Company <span class="Custaccordion-header-icon"><img src="img/right-arrow.png" height="20"></span></h3>
                        <div>
                            <div class="text_center full left padding">

                                <div class="accordion-content-header">Support</div>

                                <div class="accordion-content-body">

                                    <ul class="accordion-list">
                                        <li>Bullet 1</li>
                                        <li>Bullet 2</li>
                                        <li>Bullet 3</li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>

       <!--NEW Collapsible Code END here   -->

                </div>





                <div class="table-cell fixed-width-550">


                    <div style=" width:100%; margin: 0 auto;">
                        <div><h5 style="color: lightskyblue;">Select evaluation level</h5></div>

                        <div class="btn-group custom-btn-group">
                            <button type="radio" role="checkbox" aria-checked="true" aria-describedby="Supported" tabindex="0" class="btn btn-primary">Supported</button>
                            <button type="radio" role="checkbox" aria-checked="false" aria-describedby="Developing" tabindex="1" class="btn btn-info">Developing</button>
                            <button type="radio" role="checkbox" aria-checked="false" aria-describedby="Good" tabindex="2" class="btn btn-warning">Good</button>
                            <button type="radio" role="checkbox" aria-checked="false" aria-describedby="Great" tabindex="3" class="btn btn-danger">Great</button>
                            <button type="radio" role="checkbox" aria-checked="false" aria-describedby="Go to" tabindex="4" class="btn btn-danger" class="btn btn-success">Go to</button>
                        </div>
                    </div>


                    <div style=" width:100%; margin: 10px auto;" class="observation-inputs" aria-labelledby="">
                        <form role="form">
                            <div class="form-group">
                                <!--<label for="comment">Comment:</label>-->
                                <textarea style="border-color:#ffffff;resize: none;" role="textarea" aria-labelledby="Write your comment here" class="form-control" rows="5" id="comment" placeholder="Write your comment here"></textarea>
                            </div>
                        </form>
                    </div>

                </div>

            </div>


            <div class="row">

                <div class="form-group">
                    <div class="col-xs-2 col-xs-offset-10">
                        <button type="submit" role="button" aria-labelledby="Summarise" tabindex="-1" class="col-xs-12 btn btn-primary">Summarise</button>
                    </div>
                </div>

            </div>



        </div>








    </div>
</div>


<div>Drop down list</div>

<div  class="btn-group btn-group-justified" style="float: left; margin-bottom: 100px;">

    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width: 280px !important;" ng-class="contactPreferencesValidateFlag.value">
        <span class="cls-margin-left">{{coachee.modeOfContactValue}}</span>
        <img style="margin-top: 4px; margin-right: 7px;" class="pull-right" src="img/down-arrow.png" width="17" height="15">
    </button>
    <ul class="dropdown-menu" role="menu" >
        <li ng-repeat="value in coachee.modeOfContact">
            <a  ng-click="clickModeDropDown(value)">
                {{value}}
            </a>
        </li>
    </ul>
</div>





